<div class="body">
    <div class="content-page">
        <ol class="nav-page flex">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Hồ sơ của tôi</li>
        </ol>
    </div>
    <div class="body-page">
        <div class="div-info-account flex">
            <div class="col-lg-9">
                <form method="POST" action="/ho-so-cua-toi">
                    <div class="form-group flex">
                        <label class="field-profile item-center" style="margin: auto 35px auto auto;">Email</label>
                        <span class="form-control" style="border: none;">{{user.email}}</span>
                    </div>
                    <div class="form-group flex">
                        <label class="field-profile" for="firstname">Họ</label>
                        <input type="text" class="form-control" id="firstname" name="firstname"
                            value="{{user.firstname}}" />
                    </div>
                    <div class="form-group flex">
                        <label class="field-profile" for="lastname">Tên</label>
                        <input type="text" class="form-control" id="lastname" name="lastname"
                            value="{{user.lastname}}" />
                    </div>
                    <div class="form-group flex">
                        <label class="field-profile" for="phone">Số điện thoại</label>
                        <input type="text" class="form-control" id="phone" name="phone" value="{{user.phone}}" />
                    </div>
                    <div class="form-group flex">
                        <label class="field-profile" for="address">Địa chỉ</label>
                        <input type="text" class="form-control" id="address" name="address" value="{{user.address}}" />
                    </div>
                    <div class="flex">
                        <div class="field-profile"></div>
                        <button type="submit" class="btn btn-success" style="margin-left: -35px;">Lưu</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 flex" style="justify-content: flex-end;">
                <div>
                    <img class="avatar" width="130" height="130" src="{{user.avatar}}" alt="" style="float: right;" />
                    <a href="" class="btn btn-outline mt-10" data-toggle="modal" data-target="#account-modal-avatar"
                        style="width: 130px; float: right; font-size: 13px; margin-right: 9px;">Thay đổi
                        avatar</a>
                </div>

                <div id="account-modal-avatar" class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Thay đổi avatar</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form method="POST" action="/ho-so-cua-toi/{{user._id}}/update-image?_method=PUT"
                                enctype="multipart/form-data">
                                <div class="modal-body">
                                    <h6>Chọn ảnh</h6>

                                    <input type="file" class="form-control" id="avatar" name="avatar" required />

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="preview-images" style=""></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-danger">Xác nhận</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-verification">
            <img class="flex" src="/img/xac-minh-danh-tinh.png" alt="" />
            {{#if (equalHelper user.trangThaiXacMinh 'Thành công')}}
            <h3 style="text-align: center;">Xác minh tài khoản thành công</h3>
            {{/if}}

            {{#unless (equalHelper user.trangThaiXacMinh 'Thành công')}}
            <p>Để tăng cường bảo mật cho tài khoản của bạn, hãy xác minh thông tin bằng một trong những cách sau.</p>
            <a href="" class="btn btn-outline mt-10" data-toggle="modal" data-target="#modal-verification">Xác minh bằng
                căn cước công dân</a>
            <div id="modal-verification" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Xác minh căn cước công dân</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="POST" action="/ho-so-cua-toi/{{user._id}}/verification?_method=PUT"
                            enctype="multipart/form-data">
                            <div class="modal-body">
                                <h6>Chọn ảnh (Vui lòng chọn 2 ảnh MẶT TRƯỚC và MẶT SAU CCCD)</h6>

                                <input type="file" class="form-control" id="imgCCCD" name="imgCCCD" required multiple />

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="preview-images" style=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger">Gửi</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {{/unless}}

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        let imagesPreview = function (input, placeToInsertImagePreview) {
            if (input.files) {
                let filesAmount = input.files.length; for (i = 0; i <
                    filesAmount; i++) {
                    let reader = new FileReader(); reader.onload = function (event) {
                        $($.parseHTML("<img>")).attr("src",
                            event.target.result).appendTo(placeToInsertImagePreview);
                    }; reader.readAsDataURL(input.files[i]);
                }
            }
        }; $("#avatar").on("change", function () {
            imagesPreview(this,
                "div.preview-images");
        });
    }); $(document).ready(function () {
        let imagesPreview = function (input, placeToInsertImagePreview) {
            if (input.files) {
                let filesAmount =
                    input.files.length; for (i = 0; i < filesAmount; i++) {
                        let reader = new FileReader(); reader.onload = function (event) {
                            $($.parseHTML("<img>")).attr("src",
                                event.target.result).appendTo(placeToInsertImagePreview);
                        }; reader.readAsDataURL(input.files[i]);
                    }
            }
        }; $("#imgCCCD").on("change", function () {
            imagesPreview(this,
                "div.preview-images");
        });
    });
</script>