<div class="body">
    <div class="content-page">
        <ol class="nav-page flex">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item"><a
                    href="/book/{{categoryBook.slugCategoryBook}}">{{categoryBook.categoryBook}}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{book.name}}</li>
        </ol>
    </div>

    <div class="body-page">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="div-img-book">
                    <img src="/{{book.img}}" style="width: 100%" alt="" />
                </div>
            </div>

            <div class="book-inf col-lg-6 col-12">
                <div style="margin: 0 30px;">
                    <div class="title-name">
                        <p>{{book.name}}</p>
                    </div>
                    <div class="flex">
                        <p class="title-p">Tác giả:</p>
                        <p>&nbsp;{{book.author}}</p>
                    </div>
                    <div class="title-love col-lg-12">
                        <form action="/sach-yeu-thich" method="POST">
                            <button class="btn btn-love flex" type="submit">
                                <i class="far fa-heart"></i>
                                <p>Thêm vào yêu thích</p>
                            </button>
                            <input type="hidden" name="bookId" value="{{book._id}}" />
                        </form>
                    </div>
                    <div class="title-borrow-book col-lg-12">
                        <button class="btn-borrow-book" data-toggle="modal" data-target="#book-modal-{{book._id}}">
                            <i class="far fa-paper-plane"></i>
                            Mượn sách
                        </button>

                        <div id="book-modal-{{book._id}}" class="modal" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Gửi yêu cầu mượn sách tới
                                            <span style="font-size: 1.25rem; color: #1c9e0b;">{{book.userId.firstname}}
                                                {{book.userId.lastname}}</span>
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form action="/member/yeu-cau-muon-sach" method="POST">
                                        <div class="modal-body">
                                            <div class="flex">
                                                <div class="col-lg-4">
                                                    <img width="100%" src="/{{book.img}}" alt="" />
                                                </div>
                                                <div class="col-lg-8" style="margin: auto;">
                                                    <p>Tên sách:
                                                        <span
                                                            style="font-size: 17px; font-weight: 500;">{{book.name}}</span>
                                                    </p>
                                                    <p>Tác giả: {{book.author}}</p>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">Tin
                                                    nhắn:</label>
                                                <textarea class="form-control" name="message" id="message-text"
                                                    required></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Thời gian dự
                                                    định trả sách (Ngày)</label>
                                                <input type="number" name="thoiGianTra" class="form-control"
                                                    id="recipient-name" required />
                                            </div>
                                            <input type="hidden" name="bookId" value="{{book._id}}" />
                                            <input type="hidden" name="chuSachId" value="{{book.userId._id}}" />

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Hủy</button>
                                            <button id="btn-send-request" type="submit" class="btn btn-success">Gửi Yêu
                                                cầu</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="title-3">
                        <div class="flex">
                            <p class="col-lg-6 title-p">Tình trạng:</p>
                            <p class="col-lg-6">{{book.tinh_trang}}</p>
                        </div>
                        <div class="flex">
                            <p class="col-lg-6 title-p">Phí vận chuyển:</p>
                            <p class="col-lg-6">{{book.transport_fee}}</p>
                        </div>
                        <div class="flex">
                            <p class="col-lg-6 title-p">Trạng thái:</p>
                            <p class="col-lg-6">{{book.status}}</p>
                        </div>
                        <div class="flex">
                            <p class="col-lg-6 title-p">Danh mục:</p>
                            <p class="col-lg-6">{{book.categoryBook}}</p>
                        </div>
                    </div>
                    <div class="title-description">
                        <div class="flex item-center">
                            <p class="title-div">Mô tả</p>
                            <div class="line-div"></div>
                        </div>
                        <div>
                            {{book.description}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex item-center">
            <p class="title-div">Về chủ sở hữu sách</p>
            <div class="line-div"></div>
        </div>


        <div class="row">
            <div class="col-lg-4">
                <div class="flex">
                    <a href="/member/{{book.userId._id}}">
                        <img width="70" height="70" class="avatar" src="/{{book.userId.avatar}}" alt="" />
                    </a>
                    <div class="item-center m-left-avatar">
                        <a href="/member/{{book.userId._id}}">
                            <p class="bold">{{book.userId.firstname}}
                                {{book.userId.lastname}}
                                {{#if (equalHelper book.userId.trangThaiXacMinh 'Thành công')}}
                                <i class="fas fa-check-circle check-icon"></i>
                                {{/if}}
                            </p>
                        </a>
                        {{#if (equalHelper book.userId.trangThaiXacMinh 'Thành công')}}
                        <span>Đã xác minh</span>
                        {{/if}}
                        {{#unless (equalHelper book.userId.trangThaiXacMinh 'Thành công')}}
                        <span>Chưa xác minh</span>
                        {{/unless}}
                    </div>
                </div>
                <div class="flex" style="line-height: 20px;">
                    {{#if ratings}}
                    <div>
                        <i class="fas fa-star star font-size20"></i>
                        <i class="fas fa-star star font-size20"></i>
                        <i class="fas fa-star star font-size20"></i>
                        <i class="fas fa-star star font-size20"></i>
                        <i class="fas fa-star star font-size20"></i>
                    </div>
                    <div style="display: flex;">
                        <span class="font-size20 ml-15">
                            ({{totalStar}}
                        </span>
                        <span>&nbsp;/ 5</span>
                        <span class="font-size20">
                            )
                        </span>
                        <span class="ml-15">({{rate.length}} đánh giá)</span>
                    </div>
                    {{/if}}
                    {{#unless ratings}}
                    <div style="border-bottom: 1px solid black; padding-bottom: 5px;">Chưa có đánh giá nào</div>
                    {{/unless}}
                </div>
                <div>
                    <h6>Huy Hiệu</h6>
                    <div class="flex" style="justify-content: space-between; max-width: 286px;">
                        <div>
                            <div class="item-armorial">
                                <img src="/img/year.png" alt="" />
                            </div>
                            <p class="w-56">Thành viên từ</p>
                        </div>
                        <div>
                            <div class="item-armorial">
                                <img src="/img/chat.png" alt="" />
                            </div>
                            <p class="w-56">Phản hồi nhanh</p>
                        </div>
                        <div>
                            <div class="item-armorial">
                                <img src="/img/giaoHang.png" alt="" />
                            </div>
                            <p class="w-56">Giao sách nhanh</p>
                        </div>
                        {{#if (equalHelper user.trangThaiXacMinh 'Thành công')}}
                        <div>
                            <div class="item-armorial">
                                <img src="/img/baoMat.png" alt="" />
                            </div>
                            <p class="w-56">Đáng tin cậy</p>
                        </div>
                        {{/if}}

                        {{#unless (equalHelper user.trangThaiXacMinh 'Thành công')}}\
                        <div></div>
                        {{/unless}}
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div>
                    {{#if rate}}
                    <a class="flex mb-10" style="justify-content: flex-end; color: rgb(19, 130, 5);"
                        href="/member/{{book.userId._id}}">Xem
                        tất cả
                        ({{rate.length}}) đánh giá >></a>
                    {{/if}}
                </div>
                <div class="row">
                    {{#each ratings}}
                    <div class="col-lg-6">
                        <div class="card-evaluate" style="margin: 0; background-color: #fff;">
                            <div class="flex" style="position: relative;">
                                <img class="avatar" width="85" height="85" src="/{{this.chuSachId.avatar}}" alt="" />
                                <div>
                                    <p>{{this.chuSachId.firstname}} {{this.chuSachId.lastname}}{{#if
                                        (equalHelper this.chuSachId.trangThaiXacMinh 'Thành công')}}
                                        <i class="fas fa-check-circle check-icon"></i>
                                        {{/if}}
                                    </p>

                                    <div>
                                        {{#if (isEqualTo this.star 1)}}
                                        <i class="fas fa-star star"></i>
                                        <i class="far fa-star star"></i>
                                        <i class="far fa-star star"></i>
                                        <i class="far fa-star star"></i>
                                        <i class="far fa-star star"></i>
                                        {{/if}}
                                        {{#if (isEqualTo this.star 2)}}
                                        <i class="fas fa-star star"></i>
                                        <i class="fas fa-star star"></i>
                                        <i class="far fa-star star"></i>
                                        <i class="far fa-star star"></i>
                                        <i class="far fa-star star"></i>
                                        {{/if}}
                                        {{#if (isEqualTo this.star 3)}}
                                        <i class="fas fa-star star"></i>
                                        <i class="fas fa-star star"></i>
                                        <i class="fas fa-star star"></i>
                                        <i class="far fa-star star"></i>
                                        <i class="far fa-star star"></i>
                                        {{/if}}
                                        {{#if (isEqualTo this.star 4)}}
                                        <i class="fas fa-star star"></i>
                                        <i class="fas fa-star star"></i>
                                        <i class="fas fa-star star"></i>
                                        <i class="fas fa-star star"></i>

                                        <i class="far fa-star star"></i>
                                        {{/if}}
                                        {{#if (isEqualTo this.star 5)}}
                                        <i class="fas fa-star star"></i>
                                        <i class="fas fa-star star"></i>
                                        <i class="fas fa-star star"></i>
                                        <i class="fas fa-star star"></i>
                                        <i class="fas fa-star star"></i>
                                        {{/if}}
                                    </div>
                                </div>

                                <div class="info-avatar text-center">
                                    Chủ sách
                                </div>
                            </div>

                            <div class="mt-10" style="height: 110px;">
                                <svg width="10" height="9" viewBox="0 0 10 9" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.34 0.723999V2.092C8.62 2.212 8.116 2.464 7.828 2.848C7.54 3.232 7.396 3.916 7.396 4.9H9.232V8.32H5.704V5.44C5.704 3.952 5.98 2.8 6.532 1.984C7.084 1.144 8.02 0.723999 9.34 0.723999ZM4.156 0.723999V2.092C3.436 2.212 2.932 2.464 2.644 2.848C2.356 3.232 2.212 3.916 2.212 4.9H4.048V8.32H0.52V5.44C0.52 3.952 0.796 2.8 1.348 1.984C1.9 1.144 2.836 0.723999 4.156 0.723999Z"
                                        fill="#E9435E"></path>
                                </svg>
                                <div>
                                    &emsp;{{this.comment}}
                                </div>
                            </div>
                            <div class="background-{{this.star}} flex p-15 mt-15">
                                <img class="avatar" width="80" height="80" src="/{{this.nguoiMuonId.avatar}}" alt="" />
                                <div>
                                    <p>Đánh giá bởi</p>
                                    <p>{{this.nguoiMuonId.firstname}} {{this.nguoiMuonId.lastname}}{{#if
                                        (equalHelper this.nguoiMuonId.trangThaiXacMinh 'Thành công')}}
                                        <i class="fas fa-check-circle check-icon"></i>
                                        {{/if}}
                                    </p>
                                    <p>{{formatDate this.createdAt}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="flex item-center">
            <p class="title-div">Sách khác đã đăng của chủ sách</p>
            <a style="color: rgb(19, 130, 5);;" href="/member/{{book.userId._id}}">Xem tất cả</a>
        </div>
        <div class="row">
            {{#each books}}
            <div class="col-sm-4 col-6 col-lg-2 col-md-3 box-book">
                <div class="card card-book">
                    <a href="/book/{{this.categoryId.slugCategoryBook}}/{{this.slug}}">
                        <img class="card-img-top img-book" src="/{{this.img}}" alt="{{this.name}}" />
                    </a>

                    <div class="book-info">
                        <div class="card-title-book">
                            <a href="/book/{{this.categoryId.slugCategoryBook}}/{{this.slug}}" title="{{this.name}}"
                                style="font-weight: 500;">
                                {{this.name}}
                            </a>
                        </div>
                        <div class="flex item-center">
                            <div class="col-lg-5">
                                <form action="/sach-yeu-thich" method="POST">
                                    <button class="btn btn-love" type="submit" title="Thêm vào sách yêu thích">
                                        <i class="far fa-heart"></i>
                                    </button>
                                    <input type="hidden" name="bookId" value="{{this._id}}" />
                                </form>
                            </div>
                            <div class="div-borrow-book col-lg-7">
                                <button class="btn-borrow-book" data-toggle="modal"
                                    data-target="#book-modal-{{this._id}}">
                                    <i class="far fa-paper-plane"></i>
                                    Mượn sách
                                </button>
                                <div id="book-modal-{{this._id}}" class="modal" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Gửi yêu cầu mượn sách tới
                                                    <span
                                                        style="font-size: 1.25rem; color: #1c9e0b;">{{this.userId.firstname}}
                                                        {{this.userId.lastname}}</span>
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form action="/member/yeu-cau-muon-sach" method="POST">
                                                <div class="modal-body">
                                                    <div class="flex">
                                                        <div class="col-lg-4">
                                                            <img width="100%" src="/{{this.img}}" alt="" />
                                                        </div>
                                                        <div class="col-lg-8" style="margin: auto;">
                                                            <p>Tên sách:
                                                                <span
                                                                    style="font-size: 17px; font-weight: 500;">{{this.name}}</span>
                                                            </p>
                                                            <p>Tác giả: {{this.author}}</p>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="message-text" class="col-form-label">Tin
                                                            nhắn:</label>
                                                        <textarea class="form-control" name="message"
                                                            id="message-text"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="recipient-name" class="col-form-label">Thời gian dự
                                                            định trả sách (Ngày)</label>
                                                        <input type="text" name="thoiGianTra" class="form-control"
                                                            id="recipient-name" />
                                                    </div>
                                                    <input type="hidden" name="bookId" value="{{this._id}}" />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Hủy</button>
                                                    <button id="btn-send-request" type="submit"
                                                        class="btn btn-success">Gửi Yêu cầu</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

</div>